$primaryColor: #4527a4;

.bBlocksInspectorInfo {
  padding: 6px;

  a {
    text-decoration: none;
    font-weight: 700;
  }
}

.wp-block-b-blocks-page-stack {
  // overflow-y: auto;
  .bBlocksPageStack {
    section {
      padding-top: 0;
      margin-bottom: 1rem;
    }

    .nav {
      background: linear-gradient(to bottom right, #312e81, #581c87, #9d174d);
    }
  }

  .selectHelp {
    color: #616063;
  }

  .ps_color_palates {
    display: flex;
    gap: 13px;
    flex-wrap: wrap;

    .circle {
      height: 30px;
      width: 30px;
      cursor: pointer;
      border-radius: 99999px;
      box-shadow: 0 10px 15px -3px rgba(168, 85, 247, 0.25);
    }
  }
}
